doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sejarah Windows

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='tema.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body.cube
    article

      section
        h2 SEJARAH WINDOWS
        img(src='images/windowshistory.png' width='500px')

      section
        h2 Nama Kelompok
        ul
          li Fransisca Agustina   12.111.2333
          br
          li Joseph Segono        12.111.1397
          br
          li Irwan Taniwan        12.111.0375
          br
          li Hans Liu Winarta     12.111.0570
      section 
        h3 AWAL - AWAL VERSI WINDOWS (1)
        ul
        li Windows 1.0
        br
        p Versi Pertama Microsoft Windows, yang disebut dengan Windows 1.0, dirilis pada tanggal 20 November 1985.
        p Windows 1.0 memiliki banyak kekurangan dalam beberapa fungsionalitas, sehingga kurang populer di pasaran.
        p Pada awalnya Windows Versi 1.0 ini hendak dinamakan dengan Interface Manager, tetapi Rowland Hanson, kepala bagian pemasaran di Microsoft Corporation, meyakinkan para pettinggi Microsoft bahwa nama <b><i>'WINDOWS'</i></b> akan lebih <i><b>"MEMIKAT"</i></b> konsumen.
        p Windows 1.0 hanya memperluas kemampuan MS-DOS dengan tambahan antarmuka grafis dan tetap memiliki masalah dan kelemahan yang sama yang dimiliki oleh MS-DOS.
      section
        h3 AWAL - AWAL VERSI WINDOWS (2)
        ul
        li Windows 2.X 
        p Windows Versi 2.x muncul pada tanggal 9 Desember 1987, dan sedikit lebih populer dibandingankan dengan pendahulunya. Sebagian besar populeritasnya didapat karena kedekatannya dengan aplikasi grafis buatan Microsoft dan aplikasi-aplikasi Windows dapat dijalankan dari MS-DOS.
        P Microsoft Windows akhirnya memperoleh peningkatan signifikan saat <u><i><b>Aldus PageMaker</b></i></u> muncul dalam versi untuk Windows, yang sebelumnya hanya dapat berjalan di atas Macintosh.
        p Windows versi 2.x menggunakan model memori modus real, yang hanya mampu mengakses memori hingga 1 megabite saja. 
        P Dalam konfigurasi seperti itu, Windows dapat menjalankan aplikasi multitasking lainnya, semacam DESQview, yang berjalan dalam modus terproteksi yang ditawarkan oleh Resi Kiswanto Intel 80286.
      section
        h3 AWAL - AWAL VERSI WINDOWS (3)
        ul
        li Windows 2.1x
        p 1. Windows/286 menggunakan model memori memori modus real, tapi merupakan versi yang pertama yang mendukung High Memory Area (HMA). 
        P 2. Windows/386 2.1 bahkan memiliki kernel yang berjalan dalam modus terproteksi dengan emulasi Expanded Memory Specification (EMS) standar Lotus-Intel-Microsoft (LIM). 
        p Versi 2.03 dan kemudian versi 3.0 mendapatkan tuntutan dari Apple karena memiliki modus penampilan jendela secara cascade (bertumpuk),dan beberapa fitur sistem operasi Apple Macintosh yang "ditiru" oleh Windows, Masalah utama yaitu tampilan/look and feel.
        P Hakim William Schwarzer akhirnya membatalkan semua 189 tuntutan tersebut, kecuali 9 tuntutan yang diajukan oleh Apple terhadap Microsoft pada tanggal 5 Januari tahun 1989.
      section
        h3 WINDOWS 3.0(1)
        ul
        li Dirilis pada tahun 1990.
        li Memperkenalkan memori virtual (mengizinkan pengguna untuk menjalankan beberapa aplikasi MS-DOS secara serentak(multitasking)).
        li Menjadikan IBM PC dan kompatibelnya penantang serius terhadap Apple Macintosh.
        li Windows 3.0 dapat berjalan di dalam tiga modus, yakni modus real, modus standar, dan modus 386 Enhanced.
        li Windows 3.0 with Multimedia Extensions 1.0 dirilis beberapa bulan kemudian. 
        li Versi ini dilengkapi dengan adanya "multimedia upgrade kit", yang terdiri atas drive CD-ROM dan sebuah sound card, seperti halnya Creative Labs Sound Blaster Pro (perintis semua fitur multimedia yang terdapat di dalam versi-versi Windows)
      section
        h3 BERALIH SEMENTARA KE OS/2
        p - OS/2 1.0 dirilis pada tahun 1987, yang memiliki fitur swapping dan multitasking.
        p - OS/2 versi 1.0 hanyalah sebuah sistem operasi yang berbasis modus teks/command line saja. 
        p - OS/2 versi 1.1 dirilis pada tahun 1988 menawarkan antarmuka grafis disebut Presentation Manager.
        p - OS/2 versi 1.2, dirilis pada tahun 1989, memperkenalkan sistem berkas baru, disebut  High Performance File System (HPFS), ditujukan untuk menggantikan sistem berkas File Allocation Table (FAT).
        p - Microsoft merubah nama OS/2 versi 3.0 menjadi Windows NT dan ditulis sebagai sistem operasi yang baru dan sebagian besar kode bebas dari kode IBM OS/2.
      section
        h3 SAMBUNGAN OS/2
        p - IBM merilis OS/2 versi 2.0 pada tahun 1992. Versi 2.0 ini menawarkan peningkatan yang signifikan, yakni sebuah GUI berorientasi objek, yang disebut dengan Workplace Shell (WPS),buah dekstop. 
        p - Versi 2.0 juga menawarkan API (mendukung instruksi 32-bit milik Intel 80386),dan menawarkan fitur multitasking yang mampu mengalamatkan memori hingga 4 gigabyte. Tetapi sistem masih menggunakan kode 16-bit
        p - Microsoft akhirnya "MENGCOPY" beberapa elemen dari Workplace Shell pada sistem operasi Windows 95 yang dirilis tiga tahun kemudian, yang mengharuskan device driver harus ditulis dengan menggunakan kode 16-bit, selain tentunya beberapa hal internal lainnya. Hal ini merupakan salah satu alasan mengapa OS/2 kekurangan driver perangkat keras. 
      section
        h3 WINDOWS 3.1
        ul
        li Sebagai respons dari dirilisnya IBM OS/2 versi 2.0 ke pasaran, Microsoft mengembangkan Windows 3.1, yang menawarkan beberapa peningkatan minor terhadap Windows 3.0 dan terdapat banyak perbaikan terhadap bug dan dukungan terhadap multimedia.
        li Versi 3.1 juga menghilangkan dukungan untuk modus real, sehingga hanya berjalan pada modus terproteksi yang hanya dimiliki oleh mikroprosesor Intel 80286 atau yang lebih tinggi lagi. 
        li Microsoft akhirnya merilis Windows 3.11, merupakan versi Windows 3.1 dan mencakup semua perbaikan yang dirilis setelah Windows 3.1, diluncurkan pada tahun 1992.
      section
        h3 WINDOWS NT(1)
        li Microsoft terus melanjutkan pengembangan sistem operasi terbarunya, disebut dengan Windows NT. Arsitek utama dari Windows NT adalah Dave Cutler,merupakan salah satu dari pemimpin arsitek sistem operasi VMS di perusahaan Digital Equipment Corporation (DEC), yang dibeli oleh Compaq (sekarang bagian dari Hewlett-Packard). Microsoft merekrut Cutler pada tahun 1988 untuk membuat sebuah versi OS/2 yang bersifat portabel, tapi akhirnya Cutler malahan membuat sistem operasi baru.
        li Sebelum pindah ke Microsoft, Cutler sebenarnya sedang membuat sebuah sistem operasi penerus VMS di DEC, disebut dengan Mica.
        li DEC memiliki keyakinan bahwa Cutler membawa kode Mica untuk digunakan oleh Microsoft dan menuntutnya. Akhirnya, Microsoft pun kalah dan disuruh membayar 150 juta dolar Amerika serta memiliki kesepakatan agar mendukung chip CPU baru buatan DEC, DEC Alpha, yang saat itu tercatat sebagai chip tercepat, agar dapat berjalan di dalam Windows NT.
      section
        h3 WINDOWS NT(2)
        p Windows NT 3.1 pertama kali muncul dalam bentuk Beta bagi para pengembang perangkat lunak pada bulan Juli 1992 dalam perhelatan Professional Developers Conference (PDC) yang dilangsungkan di San Fransisco, California, Amerika Serikat
        p Windows NT merupakan pilihan yang sempurna untuk server jaringan lokal (LAN), yang tahun 1993 mengalami booming besar-besaran, karena menawarkan pilihan konektivitas jaringan yang luas dan juga sistem berkas NTFS yang efisien. 
        p Windows NT 3.51 merupakan primadona Microsoft saat terjun ke pasar ini, yang kemudian mengambil alih sebagian besar pangsa pasar yang sebelumnya dimiliki oleh Novell Netware beberapa tahun ke depan.
      section
        h3 WINDOWS NT(3)
        p Peningkatan terbesar dari Windows NT adalah Application Programming Interface (API) 32-bit (menggantikan Windows API 16-bit). API 32-bit ini dinamakan dengan Win32 API.
        p Win32 API memiliki tiga buah implementasi utama: pertama untuk Windows NT,kedua untuk Win32s, dan juga untuk Chicago. 
        p Windows NT merupakan sistem operasi Windows pertama yang dibuat dengan menggunakan kernel hibrida, setelah pada versi-versi sebelumnya hanya menggunakan kernel monolithic saja.
      section
        h3 WINDOWS 95
        p Marketing Microsoft menggunakan nama Windows 95 sebagai nama produk bagi Chicago,yang dirilis tanggal 24 Agustus 1995. Fungsionalitas Windows 95 mendekati apa yang dimiliki oleh Windows NT.
        p Microsoft merilis Windows 95 dalam lima versi berbeda, yakni sebagai berikut:
        p 1. Windows 95 A - mencakup pembaruan Windows 95 Original Service Release 1 (OSR1) yang dimasukkan secara langsung terhadap instalasi.
        p 2. Windows 95 B - mencakup beberapa pembaruan, seperti sistem berkas FAT32, dan Internet Explorer 3.0. Versi ini juga dikenal dengan Windows 95 OSR2 (Windows 97).
        p 3. Windows 95 B USB - atau Windows 95 OSR2.1 merupakan versi Windows 95 yang menawarkan dukungan terhadap perangkat keras berbasis bus Universal Serial Bus/USB.
        
      section
        h3 WINDOWS 95(2)
        p 4. Windows 95 C - atau Windows 95 OSR2.5 mencakup semua fitur di atas, ditambah Internet Explorer 4.0. Versi ini merupakan versi terakhir yang dirilis dari seri Windows 95.
        p 5. Windows 95 OSR2, OSR2.1 dan OSR2.5 tidaklah dirilis untuk publik, akan tetapi hanya kepada OEM yang menggunakan sistem operasi tersebut ke komputer buatannya. Beberapa perusahaan OEM bahkan menjual hard disk baru dengan sistem operasi Windows 95 OSR2 di dalamnya.
        p 6. Windows 95 C - atau Windows 95 OSR2.5 mencakup semua fitur di atas, ditambah Internet Explorer 4.0. Versi ini merupakan versi terakhir yang dirilis dari seri Windows 95.
        p 7. Windows 95 OSR2, OSR2.1 dan OSR2.5 tidaklah dirilis untuk publik, akan tetapi hanya kepada OEM yang menggunakan sistem operasi tersebut ke komputer buatannya. Beberapa perusahaan OEM bahkan menjual hard disk baru dengan sistem operasi Windows 95 OSR2 di dalamnya.
      section
        h3 WINDOWS 98
        ul
        li Pada 25 Juni 1998, Microsoft merilis sebuah sistem operasi Windows baru, yang dikenal sebagai Windows 98 yang dianggap sebagai revisi minor terhadap Windows 95, tapi secara umum dilihat jauh lebih stabil dan dapat diandalkan dibandingkan dengan Windows 95. Windows 98 mencakup banyak driver perangkat keras baru dan dukungan sistem berkas FAT32 yang lebih baik yang mengizinkan partisi untuk memiliki kapasitas lebih besar dari 2 gigabyte, sebuah batasan yang terdapat di dalam Windows 95. Dukungan USB di dalam Windows 98 pun juga jauh lebih baik dibandingkan dengan windows 95
        li Pada tahun 1999, Microsoft merilis Windows 98 Second Edition.Pada versi ini, Internet Connection Sharing (bentuk dari Network Address Translation), yang mengizinkan beberapa mesin di dalam sebuah jaringan lokal agar dapat menggunakan satu jalur koneksi Internet bersama-sama diperkenalkan. Banyak masalah minor di dalam Windows yang lama telah dikoreksi, sehingga Windows 98 disebut sebagai sebuah versi Windows 9x yang paling stabil di antara semua versi Windows 9x lainnya.
      section
        h3 WINDOWS 2000  
        p Microsoft merilis Windows 2000 pada 17 Februari 2000,  versi yang sebelumnya dikenal dengan sebutan Windows NT 5.0 atau "NT 5.0“
        p Meskipun Windows 2000 dapat memperbarui komputer yang sebelumnya menjalankan Windows 98, Windows 2000 tidaklah dianggap sebagai produk yang cocok untuk pengguna rumahan. Alasannya banyak, di antaranya adalah kurangnya device driver untuk banyak perangkat pengguna seperti pemindai (scanner) dan juga pencetak (printer), pada saat dirilis. Situasi tersebut akhirnya berbalik pada saat Windows XP dirilis oleh Microsoft.
      section
        h3 LANJUTAN ...
        p Windows 2000 tersedia dalam enam edisi, yakni:
        ul
        li Windows 2000 Professional
        li Windows 2000 Server
        li Windows 2000 Advanced Server
        li Windows 2000 Datacenter Server
        li Windows 2000 Advanced Server Limited Edition
        li Windows 2000 Datacenter Server Limited Edition
      section
        h3 WINDOWS ME
        p - Pada bulan September 2000, Microsoft memperkenalkan Windows Millennium Edition. Versi ini memperbarui Windows 98 dengan dukungan multimedia dan Internet yang lebih baik. Versi ini juga memasukkan fitur "System Restore," yang mengizinkan para penggunanya untuk mengembalikan keadaan sistem ke sebuah titik yang dikenal baik-baik saja, pada saat sistem operasi mengalami kegagalan. System Restore menjadi fitur yang masih dipertahankan pada Windows XP. Versi ini juga memperkenalkan Windows Movie Maker versi pertama.
        p - Windows Me dibuat dalam waktu yang singkat. Fitur-fitur yang terdapat di dalam Windows Me dapat diperoleh secara gratis dari situs Windows Update, kecuali System Restore. Orang-orang bahkan menyebut Windows Me sebagai Windows Mistake Edition karena munculnya masalah kestabilan, dan dukungan terhadap MS-DOS yang berjalan di dalam modus real.
      section
        h3 LANJUTAN ... 
        p - Windows Me merupakan sistem operasi terakhir yang dibuat berdasarkan kernel monolithic Windows 9x dan MS-DOS. Versi ini pun menjadi versi terakhir sistem operasi Windows yang tidak memiliki Windows Product Activation (WPA).






 








    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild