doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sejarah Windows

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='tema.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body.cube
    article

      section
        h2 SEJARAH WINDOWS
        img(src='images/windowshistory.png' width='500px')

      section
        h2 Nama Kelompok
        ul
          li Fransisca Agustina   12.111.2333
          br
          li Joseph Segono        12.111.1397
          br
          li Irwan Taniwan        12.111.0375
          br
          li Hans Liu Winarta     12.111.0570
      section 
        h3 AWAL - AWAL VERSI WINDOWS
        ul
          li Windows 1.0
          br
        p Versi Pertama Microsoft Windows, yang disebut dengan Windows 1.0, dirilis pada tanggal 20 November 1985.
        p Windows 1.0 memiliki banyak kekurangan dalam beberapa fungsionalitas, sehingga kurang populer di pasaran.
        p Pada awalnya Windows Versi 1.0 ini hendak dinamakan dengan Interface Manager, tetapi Rowland Hanson, kepala bagian pemasaran di Microsoft Corporation, meyakinkan para pettinggi Microsoft bahwa nama <b><i>'WINDOWS'</i></b> akan lebih <i><b>"MEMIKAT"</i></b> konsumen.
        p Windows 1.0 hanya memperluas kemampuan MS-DOS dengan tambahan antarmuka grafis dan tetap memiliki masalah dan kelemahan yang sama yang dimiliki oleh MS-DOS.
      section
        h3 AWAL - AWAL VERSI WINDOWS
        ul
          li Windows 2.X 
        p Windows Versi 2.x muncul pada tanggal 9 Desember 1987, dan sedikit lebih populer dibandingankan dengan pendahulunya. Sebagian besar populeritasnya didapat karena kedekatannya dengan aplikasi grafis buatan Microsoft dan aplikasi-aplikasi Windows dapat dijalankan dari MS-DOS.
        P Microsoft Windows akhirnya memperoleh peningkatan signifikan saat <u><i><b>Aldus PageMaker</b></i></u> muncul dalam versi untuk Windows, yang sebelumnya hanya dapat berjalan di atas Macintosh.
        p Windows versi 2.x menggunakan model memori modus real, yang hanya mampu mengakses memori hingga 1 megabite saja. 
        P Dalam konfigurasi seperti itu, Windows dapat menjalankan aplikasi multitasking lainnya, semacam DESQview, yang berjalan dalam modus terproteksi yang ditawarkan oleh Resi Kiswanto Intel 80286.
      section
        h3 AWAL - AWAL VERSI WINDOWS
        ul
          li Windows 2.1x
        p 1. Windows/286 menggunakan model memori memori modus real, tapi merupakan versi yang pertama yang mendukung High Memory Area (HMA). 
        P 2. Windows/386 2.1 bahkan memiliki kernel yang berjalan dalam modus terproteksi dengan emulasi Expanded Memory Specification (EMS) standar Lotus-Intel-Microsoft (LIM). 
        p Versi 2.03 dan kemudian versi 3.0 mendapatkan tuntutan dari Apple karena memiliki modus penampilan jendela secara cascade (bertumpuk),dan beberapa fitur sistem operasi Apple Macintosh yang "ditiru" oleh Windows, Masalah utama yaitu tampilan/look and feel.
        P Hakim William Schwarzer akhirnya membatalkan semua 189 tuntutan tersebut, kecuali 9 tuntutan yang diajukan oleh Apple terhadap Microsoft pada tanggal 5 Januari tahun 1989.
      section
        h3 WINDOWS 3.0
        ul
        li Dirilis pada tahun 1990.
        li Memperkenalkan memori virtual (mengizinkan pengguna untuk menjalankan beberapa aplikasi MS-DOS secara serentak(multitasking)).
        li Menjadikan IBM PC dan kompatibelnya penantang serius terhadap Apple Macintosh
        li Windows 3.0 dapat berjalan di dalam tiga modus, yakni modus real, modus standar, dan modus 386 Enhanced.
        li Windows 3.0 with Multimedia Extensions 1.0 dirilis beberapa bulan kemudian. 
        li Versi ini dilengkapi dengan adanya "multimedia upgrade kit", yang terdiri atas drive CD-ROM dan sebuah sound card, seperti halnya Creative Labs Sound Blaster Pro (perintis semua fitur multimedia yang terdapat di dalam versi-versi Windows)
      section
        h3 BERALIH SEMENTARA KE OS/2
          p - OS/2 1.0 dirilis pada tahun 1987, yang memiliki fitur swapping dan multitasking.
          p - OS/2 versi 1.0 hanyalah sebuah sistem operasi yang berbasis modus teks/command line saja. 
          p - OS/2 versi 1.1 dirilis pada tahun 1988 menawarkan antarmuka grafis disebut Presentation Manager.
          p - OS/2 versi 1.2, dirilis pada tahun 1989, memperkenalkan sistem berkas baru, disebut  High Performance File System (HPFS), ditujukan untuk menggantikan sistem berkas File Allocation Table (FAT).
          p - Microsoft merubah nama OS/2 versi 3.0 menjadi Windows NT dan ditulis sebagai sistem operasi yang baru dan sebagian besar kode bebas dari kode IBM OS/2.
      section
        h3 SAMBUNGAN OS/2
          p - IBM merilis OS/2 versi 2.0 pada tahun 1992. Versi 2.0 ini menawarkan peningkatan yang signifikan, yakni sebuah GUI berorientasi objek, yang disebut dengan Workplace Shell (WPS),buah dekstop. 
          p - Versi 2.0 juga menawarkan API (mendukung instruksi 32-bit milik Intel 80386),dan menawarkan fitur multitasking yang mampu mengalamatkan memori hingga 4 gigabyte. Tetapi sistem masih menggunakan kode 16-bit
          p - Microsoft akhirnya "MENGCOPY" beberapa elemen dari Workplace Shell pada sistem operasi Windows 95 yang dirilis tiga tahun kemudian, yang mengharuskan device driver harus ditulis dengan menggunakan kode 16-bit, selain tentunya beberapa hal internal lainnya. Hal ini merupakan salah satu alasan mengapa OS/2 kekurangan driver perangkat keras. 
      section
        h3 WINDOWS 3.1
        ul
        li Sebagai respons dari dirilisnya IBM OS/2 versi 2.0 ke pasaran, Microsoft mengembangkan Windows 3.1, yang menawarkan beberapa peningkatan minor terhadap Windows 3.0 dan terdapat banyak perbaikan terhadap bug dan dukungan terhadap multimedia.
        li Versi 3.1 juga menghilangkan dukungan untuk modus real, sehingga hanya berjalan pada modus terproteksi yang hanya dimiliki oleh mikroprosesor Intel 80286 atau yang lebih tinggi lagi. 
        li Microsoft akhirnya merilis Windows 3.11, merupakan versi Windows 3.1 dan mencakup semua perbaikan yang dirilis setelah Windows 3.1, diluncurkan pada tahun 1992.
      section
        h3 WINDOWS FOR WORKGROUPS
        ul
        li pada waktu bersamaan, Microsoft merilis Microsoft Windows for Workgroups, yang tersedia sebagai tambahan Windows 3.1, merupakan sebuah versi  di dalamnya tercakup lingkungan dasar Windows dan tambahan kemampuan jaringan di dalam sebuah paket. 
        li Windows for Workgroups mencakup driver jaringan komputer dan stack protokol yang lebih baik, dan mendukung jaringan secara peer-to-peer. download opsional Windows for Workgroups adalah stack protokol TCP/IP dengan nama kode "Wolverine”.
        li Windows for Workgroups dirilis dalam dua versi, Windows for Workgroups 3.1 dan Windows for Workgroups 3.11. Tetapi,windows for Workgroups 3.11 hanya berjalan di dalam modus 386 Enhanced, dan membutuhkan setidaknya mesin dengan prosesor Intel 80386SX.
        li Semua versi tersebut meningkatkan laju penjualan Windows versi 3.x. Meskipun Windows 3.1x memiliki banyak kekurangan, yang telah dikoreksi oleh OS/2, Microsoft dapat mengambil alih pasar GUI  tetapi Windows API menjadi standar de-facto untuk perangkat lunak konsumen.
      section
        h3 WINDOWS NT
        li Microsoft terus melanjutkan pengembangan sistem operasi terbarunya, disebut dengan Windows NT. Arsitek utama dari Windows NT adalah Dave Cutler,merupakan salah satu dari pemimpin arsitek sistem operasi VMS di perusahaan Digital Equipment Corporation (DEC), yang dibeli oleh Compaq (sekarang bagian dari Hewlett-Packard). Microsoft merekrut Cutler pada tahun 1988 untuk membuat sebuah versi OS/2 yang bersifat portabel, tapi akhirnya Cutler malahan membuat sistem operasi baru.
        li Sebelum pindah ke Microsoft, Cutler sebenarnya sedang membuat sebuah sistem operasi penerus VMS di DEC, disebut dengan Mica.
        li DEC memiliki keyakinan bahwa Cutler membawa kode Mica untuk digunakan oleh Microsoft dan menuntutnya. Akhirnya, Microsoft pun kalah dan disuruh membayar 150 juta dolar Amerika serta memiliki kesepakatan agar mendukung chip CPU baru buatan DEC, DEC Alpha, yang saat itu tercatat sebagai chip tercepat, agar dapat berjalan di dalam Windows NT.
      section
        h3 WINDOWS NT
        p Windows NT 3.1 pertama kali muncul dalam bentuk Beta bagi para pengembang perangkat lunak pada bulan Juli 1992 dalam perhelatan Professional Developers Conference (PDC) yang dilangsungkan di San Fransisco, California, Amerika Serikat
        p Windows NT merupakan pilihan yang sempurna untuk server jaringan lokal (LAN), yang tahun 1993 mengalami booming besar-besaran, karena menawarkan pilihan konektivitas jaringan yang luas dan juga sistem berkas NTFS yang efisien. 
        p Windows NT 3.51 merupakan primadona Microsoft saat terjun ke pasar ini, yang kemudian mengambil alih sebagian besar pangsa pasar yang sebelumnya dimiliki oleh Novell Netware beberapa tahun ke depan.
      section
        h3 WINDOWS NT
        p Peningkatan terbesar dari Windows NT adalah Application Programming Interface (API) 32-bit (menggantikan Windows API 16-bit). API 32-bit ini dinamakan dengan Win32 API.
        p Win32 API memiliki tiga buah implementasi utama: pertama untuk Windows NT,kedua untuk Win32s, dan juga untuk Chicago. 
        p Windows NT merupakan sistem operasi Windows pertama yang dibuat dengan menggunakan kernel hibrida, setelah pada versi-versi sebelumnya hanya menggunakan kernel monolithic saja.
      section
        h3 WINDOWS 95
        p Marketing Microsoft menggunakan nama Windows 95 sebagai nama produk bagi Chicago,yang dirilis tanggal 24 Agustus 1995. Fungsionalitas Windows 95 mendekati apa yang dimiliki oleh Windows NT.
        br
        p Microsoft merilis Windows 95 dalam lima versi berbeda, yakni sebagai berikut:
        br
        p 1. Windows 95 A - mencakup pembaruan Windows 95 Original Service Release 1 (OSR1) yang dimasukkan secara langsung terhadap instalasi.
        br
        p 2. Windows 95 B - mencakup beberapa pembaruan, seperti sistem berkas FAT32, dan Internet Explorer 3.0. Versi ini juga dikenal dengan Windows 95 OSR2 (Windows 97).
        br
        p 3. Windows 95 B USB - atau Windows 95 OSR2.1 merupakan versi Windows 95 yang menawarkan dukungan terhadap perangkat keras berbasis bus Universal Serial Bus/USB.
      section
        h3 WINDOWS 95
        p 4. Windows 95 C - atau Windows 95 OSR2.5 mencakup semua fitur di atas, ditambah Internet Explorer 4.0. Versi ini merupakan versi terakhir yang dirilis dari seri Windows 95.
        br
        p 5. Windows 95 OSR2, OSR2.1 dan OSR2.5 tidaklah dirilis untuk publik, akan tetapi hanya kepada OEM yang menggunakan sistem operasi tersebut ke komputer buatannya. Beberapa perusahaan OEM bahkan menjual hard disk baru dengan sistem operasi Windows 95 OSR2 di dalamnya.
        br
        p 6. Windows 95 C - atau Windows 95 OSR2.5 mencakup semua fitur di atas, ditambah Internet Explorer 4.0. Versi ini merupakan versi terakhir yang dirilis dari seri Windows 95.
        br
        p 7. Windows 95 OSR2, OSR2.1 dan OSR2.5 tidaklah dirilis untuk publik, akan tetapi hanya kepada OEM yang menggunakan sistem operasi tersebut ke komputer buatannya. Beberapa perusahaan OEM bahkan menjual hard disk baru dengan sistem operasi Windows 95 OSR2 di dalamnya.
      section
        h3 WINDOWS 98
        ul
        li Pada 25 Juni 1998, Microsoft merilis sebuah sistem operasi Windows baru, yang dikenal sebagai Windows 98 yang dianggap sebagai revisi minor terhadap Windows 95, tapi secara umum dilihat jauh lebih stabil dan dapat diandalkan dibandingkan dengan Windows 95. Windows 98 mencakup banyak driver perangkat keras baru dan dukungan sistem berkas FAT32 yang lebih baik yang mengizinkan partisi untuk memiliki kapasitas lebih besar dari 2 gigabyte, sebuah batasan yang terdapat di dalam Windows 95. Dukungan USB di dalam Windows 98 pun juga jauh lebih baik dibandingkan dengan windows 95
        li Pada tahun 1999, Microsoft merilis Windows 98 Second Edition.Pada versi ini, Internet Connection Sharing (bentuk dari Network Address Translation), yang mengizinkan beberapa mesin di dalam sebuah jaringan lokal agar dapat menggunakan satu jalur koneksi Internet bersama-sama diperkenalkan. Banyak masalah minor di dalam Windows yang lama telah dikoreksi, sehingga Windows 98 disebut sebagai sebuah versi Windows 9x yang paling stabil di antara semua versi Windows 9x lainnya.
      section
        h3 WINDOWS 2000  
        p Microsoft merilis Windows 2000 pada 17 Februari 2000,  versi yang sebelumnya dikenal dengan sebutan Windows NT 5.0 atau "NT 5.0“
        p Meskipun Windows 2000 dapat memperbarui komputer yang sebelumnya menjalankan Windows 98, Windows 2000 tidaklah dianggap sebagai produk yang cocok untuk pengguna rumahan. Alasannya banyak, di antaranya adalah kurangnya device driver untuk banyak perangkat pengguna seperti pemindai (scanner) dan juga pencetak (printer), pada saat dirilis. Situasi tersebut akhirnya berbalik pada saat Windows XP dirilis oleh Microsoft.
      section
        h3 LANJUTAN ...
        p Windows 2000 tersedia dalam enam edisi, yakni:
        ul
        li Windows 2000 Professional
        li Windows 2000 Server
        li Windows 2000 Advanced Server
        li Windows 2000 Datacenter Server
        li Windows 2000 Advanced Server Limited Edition
        li Windows 2000 Datacenter Server Limited Edition
      section
        h3 WINDOWS ME
        p - Pada bulan September 2000, Microsoft memperkenalkan Windows Millennium Edition. Versi ini memperbarui Windows 98 dengan dukungan multimedia dan Internet yang lebih baik. Versi ini juga memasukkan fitur "System Restore," yang mengizinkan para penggunanya untuk mengembalikan keadaan sistem ke sebuah titik yang dikenal baik-baik saja, pada saat sistem operasi mengalami kegagalan. System Restore menjadi fitur yang masih dipertahankan pada Windows XP. Versi ini juga memperkenalkan Windows Movie Maker versi pertama.
        p - Windows Me dibuat dalam waktu yang singkat. Fitur-fitur yang terdapat di dalam Windows Me dapat diperoleh secara gratis dari situs Windows Update, kecuali System Restore. Orang-orang bahkan menyebut Windows Me sebagai Windows Mistake Edition karena munculnya masalah kestabilan, dan dukungan terhadap MS-DOS yang berjalan di dalam modus real.
      section
        h3 LANJUTAN ... 
        p - Windows Me merupakan sistem operasi terakhir yang dibuat berdasarkan kernel monolithic Windows 9x dan MS-DOS. Versi ini pun menjadi versi terakhir sistem operasi Windows yang tidak memiliki Windows Product Activation (WPA).
      section
        h3 WINDOWS XP
          p Pada tahun 2001, Microsoft memperkenalkan Windows XP yang menggunakan kernel Windows NT 5.1
          p Windows XP tersedia dalam beberapa versi:
        ul
        li Windows XP Home Edition, ditujukan untuk pasar desktop dan laptop rumahan.
        li Windows XP Home Edition N, sama seperti Home Edition tetapi tidak memiliki Windows Media Player.
        li Windows XP Professional, ditujukan bagi para power user dan pebisnis.
        li Windows XP Professional N, seperti Professional Edition tetapi tidak memiliki Windows Media Player.
        li Windows XP Media Center Edition (MCE), dirilis pada bulan November 2002, merupakan Windows XP Home Edition yang ditujukan untuk dektop dan laptop dengan penekanan pada hiburan rumahan.
        li Windows XP Media Center Edition 2003
        li Windows XP Media Center Edition 2004
      section
        h3 LANJUTAN WINDOWS XP ...
        ul
        li Windows XP Media Center Edition 2005, yang dirilis pada 12 Oktober 2004.
        li Windows XP Tablet PC Edition, ditujukan untuk PC Tablet (PC dengan layar sentuh)
        li Windows XP Tablet PC Edition 2005
        li Windows XP Embedded, ditujukan untuk sistem benam (embedded system)
        li Windows XP Starter Edition, ditujukan untuk pengguna komputer di beberapa negara berkembang.
        li Windows XP Professional x64 Edition, yang dirilis pada 25 April 2005 (menggunakan prosesor 64-bit) 
        li Windows XP 64-bit Edition, merupakan versi  yang mempertahankan kompatibilitas dengan aplikasi 32-bit dengan menggunakan emulator perangkat lunak. Produk ini dihentikan pada bulan September 2005
        li Windows XP 64-bit Edition 2003, dibuat berbasiskan basis kode Windows NT 5.2.
      section
        h3 KELEBIHAN WINDOWS XP
          p 1. Windows XP relatif hemat resource ketika booting, sehingga lebih stabil dan cepat ketika melakukan booting.
          p 2. Sudah banyak aplikasi yang dapat mendukung kinerja Windows XP secara maksimal.
          p 3. Memiliki tools yang kompleks namun relatif ringan dan mudah untuk dipahami pengguna.
          p 4. Pada Windows XP Plug and Play yang bekerja otomatis dan dukungan driver-driver-nya yang competible dengan hardware supliers;
          p 5. Windows XP lebih stabil dalam kecepatan kinerjanya;
          p 6. GUI yang familiar.
          p 7. Dukungan driver yang lebih banyak.
          p 8. Banyak aplikasi berbasis MS Windows serta gratisan GPL dan Freeware ditawarkan untuk  Windows.
      section
        h3 KEKURANGAN WINDOWS XP
          p 1. Sistem keamanan yang kurang baik;
          p 2. Resiko kehilangan data sangat besar;
          p 3. Dalam Remote Administration Windows XP, Network Securitiy-nya sangat lambat untuk membaca file-file crack yang bercampur dengan file system;
          p 4. Tampilan Visual Windows XP tidak terdapat Aero;
          p 5. Terlalu banyak system-crash dibanding pada Windows Vist;
          p 6. Windows XP tidak dapat menampilkan preview semua file system yang dibawanya;
          p 7. Sharing data di area jaringan tidak dapat dilakukan dengan cepat;
          p 8. Windows XP tidak dapat mendeteksi suatu type jaringan untuk dipilih kemudian diaktifkan, ketika terdapat type jaringan dalam satu ruang dan waktu yang bersamaan seperti LAN dan WLAN;
          p 9. Windows XP ketika ingin merestore file-file sistem harus senantiasa diinstal ulang.
      section
        h3 WINDOWS SERVER 2003
          p Diluncurkan pada tanggal 24 April 2003 dan menggunakan kernel Windows NT Versi 5.2
          p Pada bulan Desember 2005, Microsoft merilis Windows Server 2003 R2.
          p Windows Server 2003 tersedia dalam lima buah edisi:
          p 1. Windows Server 2003, Web Edition
          p 2. Windows Server 2003, Standard Edition
          p 3. Windows Server 2003, Enterprise Edition (32-bit dan 64-bit)
          p 4. Windows Server 2003, Datacenter Edition
          p 5. Windows Server 2003, Small Business Server
          p 6. Windows Fundamentals for Legacy PCs sebagai platform thin client
          p Pada bulan Juli 2006, Microsoft merilis sebuah versi Windows XP Service Pack 2 yang disebut  Windows Fundamentals for Legacy PCs (WinFLP). 
          p Tujuan pembuatan WinFLP adalah untuk memberikan pilihan upgrade kepada para pelanggannya yang masih menggunakan Windows 95, Windows 98, Windows Me, dan Windows NT Workstation.
      section
        h3 Kelebihan Windows Server 2003
          p 1. Pengoperasiannya Mudah
          p 2. Cantik Memukau
          p 3. Fungsionalitas dan Skalabilitas
          p 4. Sangat cocok untuk organisasi/perusahaan besar
          p 5. Penggunaan DHCP memudahkan pengurusan sesuatu rangkaian komputer di dalam suatu organisasi yang besar.
      section
        h3 Kekurangan Windows Server 2003:
          p 1. terasa tidak memadai di tengah kemajuan Web 2.0
          p 2. kadang jika kita tidak teliti dalam mengginstall,error selalu ditemui
          p 3. Tidak semua Produk aplikasi  bisa berjalan diatasnya
          p 4. Persyaratan hadware yang sangat tinggi
          p 5. Kemanan yang kurang tangguh
          p 6. Makin banyak type file yang dibuka dengan berbagai macam aplikasi.
      section
        h3 WINDOWS VISTA
          p Windows Vista, dirilis pada tanggal 30 November 2006(kalangan bisnis) dan pada tanggal 30 Januari 2007 (kalangan pengguna rumahan). 
          p Windows Vista memang dicanangkan agar memiliki keamanan yang lebih tangguh dibandingkan dengan versi-versi sebelumnya, dengan memperkenalkan sebuah modus pengguna yang terbatas, yang disebut sebagai User Account Control (UAC), untuk menggantikan filosofi "administrator-by-default" yang diberlakukan pada Windows XP.
          p Windows Vista dijual dalam beberapa edisi:
          p 1. Windows Vista Starter
          p 2. Windows Vista Home Basic
          p 3. Windows Vista Home Premium
          p 4. Windows Vista Business
          p 5. Windows Vista Enterprise
          p 6. Windows Vista Ultimate
      section
        h3 KELEBIHAN WINDOWS Vista
          p 1. Windows Vista dapat secara otomatis dapat mengaktifkan Firewall terintegrasinya;
          p 2. Proteksi security ketika browsing diinternet lebih aman;
          P 3. Resiko kehilangan data lebih kecil;
          p 4. Dapat mengenkripsi partisi dan drive lain
          p 5. Pada saat instalasi, pengguna harus menyimpan Password Hint;
          p 6. Dalam Remote Administration Vista dilengkapi Digital Signature.
      section
        h3  KEISTIMEWAAN WINDOWS VISTA
          p 1. Secara visual Windows Vista lebih unggul ketimbang OS lain dengan diperkaya tampilan 3D, Air Bruss, dll.
          p 2. Tools yang ditampilkan kaya dengan icon.
          p 3. Windows Vista lebih bergengsi dengan tampilan yang sesuai dengan life style psikologis kehidupan jaman sekarang (Funky – Trendy – Gaul).
      section
        h3 STABILITAS WINDOWS VISTA
          p 1. Windows Vista dapat menampilkan preview setiap type file;
          p 2. Windows Vista lebih cepat dalam pencarian data walau dalam struktur susunan yang kompleks dengan Aplikasi pencarian Cepat;
          p 3. Vista dapat membaca media dengan menggunakan sistem file exFAT;
          p 4. Vista dapat membaca SD Card dengan tekhnologi SD ADMA;
          p 5. Sharing data di area jaringan dapat dilakukan dengan cepat;
          p 6. Vista dapat meakukan transfer data dari hardisk sampai 25MB/Second;
          p 7. Vista sangat cepat dalam proses menampilkan File Visual;
          p 8. Vista sangat cepat dalam proses extarct file dari ZIP ataupun WINRAR;
          p 9. Vista dapat mendeteksi suatu type jaringan untuk dipilih dan diaktifkan;
          p 10. Dapat melakukan emulator dari FAT 64 ke FAT 32;
          p 11. Windows Vista tersedia SRT (Starup Repair Tool) sehingga dapat merestore file-file sistem tanpa harus instal ulang.
      section
        h3  KELEMAHAN WINDOWS VISTA
          p 1.  Pemakai dibuat bingung.
          p 4. Ukuran source code yang terlalu besar mengakibatkan kinerja Lambat.
          p 3. Komponen – komponen yang hilang serta pemborosan baterai laptop. 
          p 4. Stiker Vista Capable palsu. Banyak komputer dijual dengan stiker “Windows Vista Capable” yang ternyata tidak mampu mengoperasikan Vista.
          p 5. Tampilan tidak begitu membanggakan serta driver yang minim.
          p 6. Tidak ada saran yang konsisten untuk pemakai.
          p 7. Pemasaran yang tanggung dan XP mania. 
          p 8. Kinerja secara Keseluruhan. yaitu OS yang dikembangkan selama lebih dari empat tahun ternyata memiliki kinerja yang lebih buruk dari OS sebelumnya. 
      section
        h3 WINDOWS HOME SERVER CONSOLE
        ul
        li Windows Home Server (sebelumnya memiliki nama kode Q singkatan dari Quattro) merupakan sebuah produk server yang diturunkan dari Windows Server 2003, yang didesain khusus untuk digunakan oleh para konsumen dari pengguna rumahan. 
        li Sistem operasi ini diperkenalkan pada tanggal 7 Januari 2007 oleh Bill Gates. Windows Home Server dapat dikonfigurasikan dan dipantau dengan menggunakan program console yang dapat diinstalasikan pada sebuah PC klien. Windows ini memiliki fitur Media Sharing, backup terhadap drive lokal dan drive jarak jauh, dan duplikasi berkas.
      section
        h3 WINDOWS SERVER 2008
          p dirilis pada tanggal 27 Februari 2008 yang memiliki nama kode "Windows Server Codenamed Longhorn.“ 
          p Kekurangan Windows Server 2008: 
          p 1. Browser yang digunakan sebagai sistem dasar pada sistem perangkat bantu administrasi  ternyata mengakibatkan proses sangat lambat. 
          p 2. Pengubahan konfigurasi yang mendasar jarang dapat dilakukan dengan berhasil. 
          p 3. Dokumentasi online, yang praktis tidak diperlukan, ketika sistem keamanan tertinggi Active X telah dipilih menyebabkan strategi keamanan yang kurang baik pada IIS. 
          p 4. Dibutuhkan pengubahan konfigurasi yang sangat kompleks untuk ISS Server, yang dapat dikatakan sangat sulit dan merepotkan sekali.
      section
        h3 KELEBIHAN WINDOWS SERVER 2008
          p 1. Dapat beroperasi tanpa tampilan grafis atau graphical user interface (GUI) .
          p 2. Pengguna dapat memilih fungsi yang dibutuhkan tanpa melakukan instalasi ulang. 
          p 3. Kemampuan virtualisasi bahkan embedded (menyatu) dengan Windows Server 2008. 
          p 4. Dapat mengatur besar bandwidth yang dapat dipakai aplikasi dan komputer. 
          p 5. Sanggup mengontrol keamanan jaringan dengan fitur Network Access Protection. 
          p 6. Server dapat mengatur setiap akses identitas ke jaringan agar aman dan praktis.
          p 7. Melalui powershell, administrator dapat memantau komputer di jaringan dari jarak jauh. 
          p 8. Lebih aman dalam mengendalikan laju informasi. 
          p 9. Peningkatan Kapasitas Server untuk melayani lebih Simultan Koneksinnya. 
          p 10. Bebas dari Kode 16 Bit milik MS-Dos dan Di Desain agar kompatibel dengan OS terdahulu . 
      section
        h3 LANJUTAN ...
          p 11. Peningkatan kemampuan layanan server TCP/IP seperti DHCP,WNS dan DNS. 
          p 12. Tool untuk mengintegrasikan Netware dan memonitoring Jaringan. 
          p 13. Model keamanan berbasis Domain penuh dan Driver disk yang fault toleran.
          p 14. Terdapat Layanan untuk Macintosh dan bisa Membooting jarak jauh untuk client. 
          p 15. Terintegrasi Paket Back Office dan Terdapat Network Client Administrator Fitur pengendalian yang lebih baik (more control).
      section
        h3 WINDOWS 7  
          p - Windows 7, sebelumnya dikenal dengan sebutan Blackcomb dan Vienna. Saat pertama kali dirilis, Windows ini memiliki kernel NT versi 6.1 build 7600 dan dirilis pada tanggal 22 Oktober 2009
          p - Sama seperti Windows Vista, Windows 7 juga tersedia dalam 6 edisi yaitu:
          p 1. Windows 7 Starter
          p 2. Windows 7 Home Basic
          p 3. Windows 7 Home Premium
          p 4. Windows 7 Professional
          p 5. Windows 7 Ultimate
          p 6. Windows 7 Enterprise
      section
        h3 LANJUTAN ... 
          p - Kelemahan Windows 7:
          p 1. Beberapa aplikasi belum bisa beroperasi di Windows 7 
          p 2. Bug pada Windows Player 12;
          p 3. Ada hardware yang tidak dapat langsung dikenali di Windows 7.
          p 4. Sulit untuk menginstal secara pakse software.
      section
        h3 KELEBIHAN WINDOWS 7
          p 1. Akses lebih cepat ke semua program yang digunakan sehingga banyak program yang digunakan tatapi sedikit menunggu
          p 2. Kompatibilitas yang lebih baik dan dapat berbagi file dan printer diantara beberapa PC
          p 3. Tetap terhibur dengan mudah serta mudah untuk membuat dan berbagi film
          p 4. Menjaga PC anda agar lebih terlindungi dengan hanya sedikit gangguan
          p 5. Mendukung lebih banyak TV, film, video, dan musik dengan banyak cara
          p 6. Mengelola perangkat dan Multi-task menjadi lebih mudah
          p 7. Dapat berkomunikasi dan berbagi foto, e-mail, dan program-program IM secara gratis
          p 8. Dapat menjelajahi web dengan lebih mudah dan aman 
          p 9. Dapat mencari file dan program dengan seketika
          p 10. Navigasi jendela yang dibuka dengan cepat
          p 12. Dapat menjalankan banyak program sekaligus dengan performa yang lebih baik pada PC 64-bit
      section
        h3 WINDOWS 80
        ul
        li Diliris pada tanggal 13 September 2011, build 8102 (Windows 8 Developer Preview). 
        li Pada tanggal 29 Februari 2012, Microsoft meluncurkan Windows 8 Consumer Preview, versi beta dari Windows 8, build 8250.
        li Pada tanggal 1 Agustus 2012, Windows 8 (build 9200) dirilis dengan nomor build 6.2.9200.16384. dan Microsoft mengadakan acara peluncuran pada 25 Oktober 2012 dan meluncurkan Windows 8 untuk publik keesokan harinya.
      section
        h3 EDISI WINDOWS 8
          p Windows 8
          p - merupakan standar untuk arsitektur IA-32 dan x64dan disebut sebagai "Core“.
          p Windows 8 Pro
          p - ditunjukkan pada pengguna tingkat lanjut atau pengguna rumahan tingkat lanjut
          p Windows 8 Enterprise
          p - ditujukan untuk pengguna Software Assurance atau pelanggan MSDN dan TechNet Professional, dan dirilis tanggal 16 Agustus 2012.
          p Windows RT
          p - Windows RT hanya akan tersedia terpasang di perangkat berbasis ARM seperti tablet KP..
      section
        h3 WINDOWS 8.1
          p - Dirilis pada tanggal 26 Juni 2013, build 9431 (Windows 8.1 Free Preview) yang sebelumnya dikenal dengan sebutan Blue.
          p - Pada tanggal 27 Agustus 2013, Windows 8.1 (build 9600) dirilis dengan nomor build 6.3.9600.16384 dan Microsoft mengadakan acara peluncuran pada 17 Oktober 2013 dan meluncurkan Windows 8.1 untuk publik keesokan harinya.
          p - Windows 8.1 juga tersedia dalam 4 edisi yaitu:
          p 1. Windows 8.1
          p 2. Windows 8.1 Pro
          p 3. Windows 8.1 Enterprise
          p 4. Windows RT 8.1
          p KELEMAHAN WINDOWS 8
          p 1. Tidak terdapat Tombol Start dan Close X.
          p 2. Terdapat Banyak Aplikasi Atau File yang Tersembunyi.
      section
        h3 KELEBIHAN WINDOWS 8.1
          p 1. Tampilan Windows 8 Lebih Dinamis.
          p 2. Windows 8 mempunyai tampilan yang segar untuk dipandang.
          p 3. Proses Booting yang cepat.
          p 4. Windows 8 Lebih Aman.
          p 5. Sistem Pencarian Data Windows 8 Lebih Universal.
          p 6. Ketersediaan dan Kemudahan Aplikasi Pendukung.
          p 7. Windows 8 Cocok untuk Semua Software. 
          p 8. Windows 8 lebih dioptimalisasi untuk layar sentuh.
          p 9. Spesifikasi hardware yang rendah  dan dapat dijalankan di tablet.
          p 10. Tersedianya Windows Store.
          p 11. Mendukung Near Field Communications (NFC ).
          p 12. Browser Internet Explorer 10.
      section
        h2 PENUTUP











    
      






















 








    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild